<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../parts/head"); %>
</head>
<body>
    <%- include("../parts/navbar"); %>
    <main class="container">
        <div class="row">
            <div class="col<% locals.preview ? "-6" : ""%> mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%= locals.article ? "Edit" : "Add" %> Article</h5>
                        <div class="card-content">
                            <form class="form" method="POST">
                                <h6><%= locals.article ? locals.article.uuid : "" %></h6>
                                <input name="uuid" type="text" value="<%= locals.article ? locals.article.uuid : "" %>" hidden>
                                <input name="title" class="form-control mb-1" type="text" id="article-title" placeholder="Title" value="<%= locals.article ? locals.article.title : "" %>" autocomplete="off" required>
                                <textarea name="description" class="form-control mb-1" type="text" id="article-description" style="font-family: 'Courier New', Courier, monospace;" data-autoresize placeholder="Description"><%= locals.article ? locals.article.description : "" %></textarea>
                                <textarea name="data" class="form-control mb-1" type="text" id="article-data" style="font-family: 'Courier New', Courier, monospace;" data-autoresize placeholder="Text" required><%= locals.article ? locals.article.data : "" %></textarea>
                                <button name="save" class="btn btn-outline-primary btn-sm">Save</button>
                                <% if(locals.article) { %><button name="delete" class="btn btn-outline-danger btn-sm">Delete</button><% } %>
                                <% if(locals.article) { %><a class="btn btn-outline-secondary btn-sm" href="/article/view/<%=article.uuid%>">View</a><% } %>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <% if(locals.showPreview && locals.article) { %>
            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <%- include("../parts/article"); %>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </main>
    <script>
        function addAutoResize() {
            document.querySelectorAll('[data-autoresize]').forEach(function (element) {
                element.style.boxSizing = 'border-box';
                element.addEventListener('input', function (event) {
                    event.target.style.height = 'auto';
                    event.target.style.height = event.target.scrollHeight + element.offsetHeight - element.clientHeight + 'px';
                });
                element.style.height = 'auto';
                element.style.height = element.scrollHeight + element.offsetHeight - element.clientHeight + 'px';
                element.removeAttribute('data-autoresize');
            });
        }

        window.addEventListener("load", () => {
            addAutoResize();
        });
    </script>
</body>
</html>
